<div class="max-w-md mx-auto mt-10 p-6 bg-gray-800 rounded text-white">
  <h1 class="text-2xl mb-4 text-center">Edit Profile</h1>
  <%= render 'users/form', user: @user %>
  <div class="mt-4 text-center">
    <%= link_to 'Back', tasks_path %>
  </div>
</div>
